body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: gray;
}

#headline {
  background-color: indianred;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 20%;
  font-weight: bold;
  font-size: larger;
}
#play {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 7px;
  color: white;
  background-color:#3a8f4d;
  font-weight: bolder;
  font-size: large;
}

#dices img {
  height: 60px;
}

#result {
  font-weight: bold;
  padding: 7px;
  border: 1px solid black;
  border-radius: 10px;
}

#stake {
  margin-top: 10px;
  width: 15%;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

#under, #exactly, #over {
  font-weight: bold;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color:#49B571;
}

#balance {
  font-weight: bold;
}

#balanceDigit {
  font-size: 30px;
}


#reset, #help{
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: #ff6005;
  font-weight: bold;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px;
}
#hide {
  font-weight: bold;
  border-radius: 10px;
  background-color: #fafafa;
  color: black;
}

#help-details {
  visibility: hidden;
  margin-top: 10px;
  border: 1px solid black;
}


.heart {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  bottom: 1%;
  right: 1%;
  position: fixed;
  font-weight: bold;
}

.heart:hover {
  font-weight: bold;
  color: black;
  background-color: #FFC300;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}